
    <nav class="navbar">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="images/train.png" alt="" width="40px" > Tiketac
          </a>
          <div class="row justify-content-end">
          <p>My last Trips</p>
          </div>
          <div class="row justify-content-end">
          <p>Connection</p>
          </div>
          <a class="logout" href="/users/logout">Deconnexion</a>
        </div>
      </nav>