body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#70e2ff, #3eacff);
  background-repeat: none;
  min-height: 100vh;
}

.navbar {
  background: #d1d8e0;
}

.table {
  background: white;
}

.table {
  background: white;
}
.etiquette{
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  padding: 35px;
  margin-bottom: 10px;
}
.etiquetteHead{
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  padding: 10px;
}
.etiquetteBody{
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  padding: 35px;
}
.etiquetteFoot{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #eec4c4;
  border-top: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  border-left: 1px solid #DADADA;
  padding: 10px;
}

.second-ligne{
  text-align: center;
}
.third-ligne{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px 
}
.flexCenter{
  display: flex;
  justify-content: center;
}
.topplus{
  margin-top: 10%;
  margin-bottom: 20px;
  color: white;
}
.topplus2{
  margin-top: 10%;
}
.btn-outline-danger{
  background-color: red;
  color: white;
}
.textArea{
  width: 49vh;
  height: 4vh;
  border: 1px solid #DADADA;
}
.mini{
  font-size: x-small;
  opacity: 50%;
  text-align: right;
  margin-right: 11%;
}
.centre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}