body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#c6f4ff, #0d8ef1);
  background-repeat: none;
  min-height: 100vh;
}

.navbar {
  background: #d1d8e0;
}

.table {
  background: white;
}

.table {
  background: white;
}



